<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Hostname" value="172.16.80.1"/>
    <add key="Port" value="11300"/>
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
</configuration>